# Nuxt build output
.output
.data
.nuxt
.nitro
.cache
dist
dev-dist

# Dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode/*
!.vscode/extensions.json

# Local env files
.env
.env.*
!.env.example
